body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
}

a {
  color: black;
}

button {
  height: 40px;
  width: 150px;
  margin: 5px 2px;
  border: none;
  border-radius: 10px;
  color: black;
  touch-action: manipulation;
}

#new-game {
  color: black;
  background-color: rgb(105, 255, 105);
}

button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.no-display {
  display: none;
}

.game-space {
  color: black;
  margin: auto;
  padding: 20px;
  width: 80vw;
  background-color: rgb(60, 195, 225);
  border-radius: 20px;
}

.player-info {
  color: black;
  min-width: 45%;
  text-align: center;
  position: relative;
}

.dealer-info {
  color: black;
  min-width: 45%;
  text-align: center;
  position: relative;
}

.image {
  margin: auto;
  background-position: center;
  background-size: contain;
  background-image: url("/images/neutral.png");
}

.game-info {
  color: black;
  display: flex;
  margin: auto;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
}

.button-space {
  margin: auto;
  padding: 10px;
  background-color: rgb(130 150 150);
  border-radius: 10px;
}

.game-buttons {
  color: black;
  display: flex;
  justify-content: center;
}

.score {
  color: black;
  font-weight: bold;
}

.bet-buttons {
  color: black;
  display: flex;
  justify-content: center;
}

.author {
  color: black;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

#tipsEL {
  color: black;
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 50px;
}

#creditsEL {
  color: black;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

#bet {
  width: 100px;
  background-color: rgb(255, 215, 50);
}

#highScoreEL {
  color: black;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .image {
    width: 180px;
    height: 162px;
  }

  .game-space {
    margin: auto;
  }

  button {
    font-size: 16px;
  }

  .button-space {
    border: 2px solid black;
  }

  #tipsEL {
    font-size: 16px;
  }

  .score {
    font-size: 26px;
    margin: 10px 0 -10px 0;
  }

  .cards-in-hand {
    font-size: 14px;
  }

  #creditsEL {
    font-size: 18px;
  }

  #highScoreEL {
    margin: 10px 0 15px 0;
    font-size: 16px;
  }
}

@media only screen and (min-width: 769px) {
  .image {
    width: 40vw;
    height: 36vw;
    max-width: 400px;
    max-height: 360px;
  }

  .game-space {
    max-width: 800px;
  }

  button {
    font-size: 22px;
  }

  .button-space {
    border: 4px solid black;
  }

  #tipsEL {
    font-size: 24px;
  }

  .score {
    font-size: 44px;
    margin: 20px 0 -20px 0;
  }

  .cards-in-hand {
    font-size: 26px;
  }

  #creditsEL {
    font-size: 26px;
  }

  #highScoreEL {
    margin: 10px 0 15px 0;
    font-size: 19px;
  }

}